*.html
*.eld
*.dat
*ido*
*.html
*.pdf
*.tex
*.elc

history
eshell/history
eshell/lastdir
eshell/alias
undohist-cache/
network-security.data
.python-environments
irony
dmenu-items
config.el
recentf*
smex-items
tramp
emms
auto-save-list
elpa
transient
auto-complete-love
auto-complete-lua
elpa*
transient*
url*
meghanada*
img*
image-dired*
.last-package-update-day*
*~
bookmarks
kkcrc
ac-comphist.dat
bookmarks
ido.last
tramp
.#*
TAGS
eln-cache
places
.lsp-session-v1
eclipse.jdt.ls
.cache
config.el
session*
projects
undohist/